// Palette._palette(bg)
$palette: (
    jfg:				#df5f7f,
    w1:					rgb(92, 93, 99),
    w2:		      		rgb(55, 138, 86),
    w3:				    rgb(195, 62, 84),
    w4:					rgb(180, 165, 70),
    eSewa:			rgb(96, 187, 70),
    esewa-2:			#7abc31,
    border:				rgba(212,212,255,0.1),
    border-bg:			rgba(212, 212, 255, 0.035),
    highlight:			#ce8282,
    accent1:			#26547C,
    accent2:			#57a7ed,
    accent3:			#518294,
    accent4:			#FA7E61,
    accent5:			#aec3de,
    accent6:			#62AA73,
    accent7:			#8f82ce,
    accent8:			#6390af
);