body {
    margin: 0px;
    background-color: #00738d;
    overflow-y: scroll;
    // -ms-overflow-style: auto;  /* IE and Edge auto vs none*/
    scrollbar-width: none;  /* Firefox */
    font-family: 'Roboto Slab', system-ui;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1em;
}
#skrollr-body {
    float: left;
    width: 100%;
    height: 100%;
}
html{
    display: block;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}
/* custom scrollbar */
::-webkit-scrollbar {
    display: none;
    // opacity: 0;
}
::selection {
    color: inherit;
    background-color: #e41363ab;
}
// html,
// body {
//   margin: 0;
//   font-family: sans-serif;
// }


// section {
//   min-width: 50vw;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 4ch;
// }

// section:nth-child(even) {
//   background-color: teal;
//   color: white;
// }